.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group グループ
      %ul.main-header__left-box__member-list 
            
        Member：
        
        %li.main-header__left-box__member-list__member 太郎
        %li.main-header__left-box__member-list__member 花子
    .main-header__edit-btn Edit

  .messages
    .message
      .message__upper-info
        %p.message__upper-info__talker 太郎
        %p.message__upper-info__date 2020.7.1
      %p.message__text おはよう
